a:link{
    color: aqua;
}
a:hover{
    color: blue;
    font-size: 1.1em;
}
a:active{
    font-size: 1.1em;
    color:blueviolet;
}
a:visited{
    font-size: 1.1em;
    color:green
}
li:hover{
    background-color: yellow;
    font-size: 1.02em;
}
li:not(:hover){
    background-color: greenyellow;
}
#hello p{
    background-color: aquamarine;
    padding: 10px;
    display: none;
}
#hello:hover p{
    display: block;
}