* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: sticky;
    top: 0px;
    border-radius: 50px;
}
#img1{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
}